/* @tailwind base;
@tailwind components;
@tailwind utilities; */
* {
  /* outline: 1px dotted; */
}


.container {
  max-width: 1024px;
  margin: auto;
  margin-top: 50px;
}

/* ------------ Header -----------*/
.header_nav {
  display: flex;
  /* background-color: red; */
}

/* Logo */

.header_figure {
  display: flex;
  background-color: green;
}

.header_logo {
  background-color: rgb(198, 196, 196);
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
  padding: 10px 70px;
}

/* List */
.header_ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.header_li {
  /* background-color: red; */
  padding: 10px 15px;
  /* background-color: red; */
}

/* Input */
.header_input {
  border-radius: 5px;
}


/* ----------- Main ----------- */
.main{
  display: flex;
}

.list_span {
  font-size: 39px;
  font-weight: bold;
  /* background-color: aquamarine; */
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: clamp(30px, 2.5vw, 35px);
}


/* Article */
.section_article {
  /* border: 3px solid yellowgreen; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.section_product {
  flex: 1 1 250px;
  width: 100%;
  min-width: 200px; 
  max-width: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.section_details {
  flex: 1 1 350px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section_parrafo, .section_price {
  font-size: clamp(14px, 1.5vw, 20px);
  
}

.section_detail {
  margin: 10px; 
}


.section_button {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 3px 10px;
  margin-left: 5px;
  font-size: 13px;
  color: grey;
}


.section_button_trash {
  flex: 1 1 100px;
  text-align: center;
  /* max-width: 350px; */
  /* background-color: red; */
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.button_trash {
  color: grey;
  width: 25px;
  height: 25px;
  cursor: pointer;
}


/* Aside */
.aside {
  /* border: 2px solid green; */
  /* tamaño estatico */
  flex: 0 0 350px;
  
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: flex-start;
} 


.aside_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  border: 1px solid grey;
} 


.aside_section_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin: 20px 0 30px 0;
}

.aside_section_info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 90%;
  font-size: 15px;
}

.aside_section_span {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.total {
  font-weight: 600;
}

.aside_section_hr {
  border-top-width: 2px;
}

.aside_section_button--pay {
  padding: 5px 85px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  margin: 20px;
}


.hr {
  margin: 10px;
  border-top-width: 2px;
}


/* 
.aside_section{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid violet;
  align-items: center;
  height: 260px;
  justify-content: space-evenly;
} */




