.left_side {
    width: 75%;
    max-width: 500px;
    /* outline: 1px solid red; */
    margin: 0 auto;
}
.logo {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    background-color: #D9D9D9;
    width: 200px;
    height: 48px;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.wel {
    /* outline: 2px solid black; */
    margin-bottom: 40px;
    text-align: center;
}


.wel p {
    font-size: 36px;
    font-weight: 400;
    color: #1E1E1E;
    margin-bottom: 10px;
}

.wel h5 {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    line-height: 24px;
    text-transform: capitalize;
}

.allMail {
    /* outline: 2px solid black; */
}

.allMail p {
    color: #1E1E1E;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.allMailInput {
   
    height: 40px;
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.allMailInput i {
    width: 5%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allMailInput input {
    width: 90%;
    height: 30px;
    border: none;
    background-color: inherit;
}

.allMailInput input:focus {
    outline: none;
}


.show {
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.show:hover {
    background-color: rgba(80, 80, 80, 0.204);

}


.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check p {
    font-weight: bold;
    font-size: 13px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox input {
    width: 100%;
    height: 100%;
}

.continuar {
    margin-top: 30px;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 15px;
    line-height: 23px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
}


.separador {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.separador p {
    font-size: 14px;
    line-height: 18px;
}
.separador div {
    height: 2px;
    width: 200px;
    background-color: #E7E7E7;
}

.social {
    margin-top: 40px;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.social li {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 11px;
}

.social li:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.registro {
    margin-top: 100px;
    text-align: center;
}

.registro span {
    font-weight: bold;
}
.registro span:hover {
    cursor: pointer;
    color: gray ;
}


/* PARTE DERECHA */

.right_side {
    background-color: #F2F0F0;
    position: relative;
    overflow: hidden;
}

.text {
    font-size: 64px;
    position: absolute;
    width: 100%;
    bottom: 200px;
    left: 30px;
}