.main-container {
  background-color: rgb(240, 234, 231);
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  background-color: rgb(240, 234, 231);
}


.arrow_return {
  margin: auto;
  max-width: 1440px;
  margin-bottom: 30px;
}

/* ----------- Main ----------- */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 55px;
  padding: 50px 100px 100px 90px;
}

/* ----------- Title Datos Personales ----------- */
.title_datos {
  padding: 0 0 50px 0;
  font-weight: bold;
  font-size: 28px;
}